*.py[cod]

# C extensions
*.so

# Packages
*~
*.tmp*
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.eggs/
.hg/
.bzr/
.svn/
pip-selfcheck.json
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
include/
lib/
lib64
local/
parts/
sdist
var/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# OSX
.DS_Store
